.idea

# Ignorar todos los archivos CSV en el directorio raíz y subdirectorios
*.csv

# Ignorar todos los archivos XLSX (Excel)
*.xlsx

# Ignorar los directorios de datos Parquet
historicos_parquet_final/
historicos_parquet_simple/
historicos_parquet_ordenado/
historicos_parquet_limpio/

# Opcional: Ignorar el directorio de datasets con features si también es pesado
final_con_features/

venv
PyCharm 2025.2.3